.nav {
  grid-area: n;
  background-color: #222930;
  border-right: 2px solid #4eb1ba;
}

.item {
  color: #e9e9e9;
  text-decoration: none;
}

.activeLink {
  color: #4eb1ba;
  text-decoration: none;
}

.nav div {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 8px;
  transition: 0.3s;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}

.nav div:hover {
  background-color: #707d89;
}
